body {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial;
  background: skyblue;
}
h1 {
  text-align: center;
}
h2 {
  font-family: comicsans;
}
h2::after {
  content: " Lighthouse";
}
p {
  text-indent: 1.5em;
  text-align: justify;
}
ul {
  list-style-type: none;
  margin-left: 1em;
}
li::after {
  content: " Lighthouse";
}
footer {
  font-family: castellar;
  font-size: .75em;
  color: green;
}
/* This CSS file was last update by Franz Dominno on 24 Jan 2015 */