/* This CSS file was last updated by Franz Dominno on 24 Mar 2015 */
html {
    background-image: url(wood.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
}
body {
    width: 750px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: black;
    opacity: 0.6;
    background-color: #ffffff;
    border-radius: 25px;
}
h1 {
    text-align: center;
}
.class {
    border: solid yellow;
}
.labs {
    border: solid red;
}
.assignments {
    border: solid blue;
}
.projects {
    border: solid green;
}
footer {
    background: black;
    border-radius: 10px;
    color: white;
    text-align: center;
}
footer p {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
}
}
footer a:link {
    color: white;
}
footer a:visited {
    color: white;
}
footer a:hover {
    color: green;
}
ul {
    list-style: none;
    padding-bottom: 10px;
}
ul li {
    display: inline;
    border: solid black;
    background: black;
    margin: 10px;
    padding: 5px;
}
li a {
    text-decoration: none;
    color: white;
    background: black;
}
li a:hover {
    color: red;
}