ul {
    padding-left: 0;
}
li {
    list-style-type: none;
    display: inline;
    border: 1px solid green;
    padding: 5px;
    line-height: 1.5em;
    background: lightgreen;
    margin-right: 10px;
    border-radius: 15px;
}
a {
    text-decoration: none;
    color: green;
}
a:hover {
    font-variant: small-caps;
}