<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/COMP 401 Recitations/10-24/shakesviewer_todo/ShakesViewer.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="shakesviewer_todo.ShakesViewer"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="COMP 401 Recitations"/>
</launchConfiguration>
