td {
    padding: 5px;
    border: 1px solid black;
}
td:first-child {
    font-style: italic;
}
table {
    border: 1px solid black;
}
tr > th {
    background: black;
    color: white;
    border: 1px solid black;
}
td, th, table {
    border-collapse: collapse;
}
tr:nth-child(2) {
    border-bottom: 2px solid black;
}
tr:nth-child(6) {
    border-bottom: 2px solid black;
}
tr td:nth-child(2) {
    background: lightblue;
}
tr td:nth-child(4) {
    background: lightblue;
}